{% block collection_widget %}
{% spaceless %}
	{% if prototype is defined %}
	    {% set attr = attr|merge({'data-prototype': block('collection_item_widget') }) %}
	{% endif %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_errors(form) }}
            <ul>
            {% for rows in form %}
                <li>
	                {% set fieldNum = 1 %}
	                {% for row in rows %}
	                    {{ form_label(row) }}
	                    {{ form_widget(row, { 'attr': { 'class': 'test' }}) }}
	                    {% set fieldNum = fieldNum + 1 %}
	                {% endfor %}
                    <a class="remove" title="Remove" href="javascript:void()"><span>Delete</span></a>
                </li>
            {% endfor %}
            </ul>
            {{ form_rest(form) }}
        </div>
        <a class="add" title="Add" href="javascript:void()"><span>Add</span></a>
{% endspaceless %}
{% endblock collection_widget %}
 
{% block collection_item_widget %}
{% spaceless %}
    <li>
		{{ form_label(form.produits.vars.prototype.reference) }}
		{{ form_widget(form.produits.vars.prototype.reference) }}
	    {{ form_label(form.produits.vars.prototype.designation) }}
		{{ form_widget(form.produits.vars.prototype.designation) }}
	    {{ form_label(form.produits.vars.prototype.marque) }}
		{{ form_widget(form.produits.vars.prototype.marque) }}
		{{ form_label(form.produits.vars.prototype.prix) }}
		{{ form_widget(form.produits.vars.prototype.prix) }}
	    {{ form_label(form.produits.vars.prototype.tva) }}
		{{ form_widget(form.produits.vars.prototype.tva) }}

    <a class="remove" title="Remove" href="javascript:void()"><span>Delete</span></a>
    </li>
{% endspaceless %}
{% endblock collection_item_widget %}