{% extends "::layout.html.twig" %}

{% block chemin %}
  {{ parent() }} <li class="active">Login</li>
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block contenu %}

{% if error %}
    <div class="alert alert-error">{{ error|trans }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div class="control-group">
      <label for="username" class="control-label">{{ 'security.login.username'|trans }}</label>
      <div class="controls">
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
      </div>
    </div>

    <div class="control-group">
      <label for="password" class="control-label">{{ 'security.login.password'|trans }}</label>
      <div class="controls">
        <input type="password" id="password" name="_password" required="required" />
        </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <label for="remember_me" class="checkbox">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            {{ 'security.login.remember_me'|trans }}
        </label>
        <button class="btn btn-hyperbrico" type="submit" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button>
      </div>
    </div>
    
</form>

{% endblock %}