{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_label(form.mail) }}
{{ form_errors(form.mail) }}
{{ form_widget(form.mail) }}
<button type="submit" class="btn btn-hyperbrico">S'inscrire</button>
{{ form_end(form) }}