{% extends "HBHyperbricoBundle::layoutCatalogueAdmin.html.twig" %}
 
{% block titre %}
  {{ parent() }} - Gérer les {{ type }}s
{% endblock %}

{% block active %}
  <li class="active">{{ type|capitalize }}s</li>
{% endblock %}
 
{% block contenu %}
 <h2>Les {{ type }}s</h2>
 <p><a href="{{ path('hb_hyperbrico_ajouter' ~ type|capitalize) }}" target="_top">Ajouter un{{ type == 'catalogue' ? '' : 'e'}} {{ type }}</a></p>
 <table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Titre</th>
      <th>Pages</th>
      <th>Auteur</th>
      <th>Création</th>
      <th>Modification</th>
      <th>Début</th>
      <th>Fin</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for catalogue in catalogues %}
      <tr>
        <td>
          <a href="{{ path('hb_hyperbrico_voir' ~ type|capitalize ~ 's', {'slug': catalogue.slug}) }}">{{ catalogue.titre }}</a>
        </td>
        <td>
          {{ catalogue.nombrePages }}
        </td>
        <td>
          {{ catalogue.auteur }}
        </td>
        <td>
          {{ catalogue.dateCreation|date('d/m/y') }}
        </td>
        <td>
          {{ catalogue.dateModification|date('d/m/y') }}
        </td>
        <td>
          {{ catalogue.dateDebut|date('d/m/y') }}
        </td>
        <td>
          {{ catalogue.dateFin|date('d/m/y') }}
        </td>

        <td>
          <div class="btn-group">
            <a class="btn btn-hyperbrico dropdown-toggle"  data-toggle="dropdown" href="#"><i class="icon-user icon-white"></i> Actions <span class="caret white-caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ path('hb_hyperbrico_envoyer' ~ type|capitalize, {'id': catalogue.id}) }}"><i class="icon-envelope"></i> Envoyer</a></li>
              <li><a href="{{ path('hb_hyperbrico_modifier' ~ type|capitalize, {'id': catalogue.id}) }}"><i class="icon-edit"></i> Modifier</a></li>
              <li><a href="{{ path('hb_hyperbrico_gererProduit' ~ type|capitalize, {'id': catalogue.id}) }}"><i class="icon-wrench"></i> Gérer les produits</a></li>
              <li><a href="{{ path('hb_hyperbrico_supprimer' ~ type|capitalize, {'id': catalogue.id}) }}"><i class="icon-remove"></i> Supprimer</a></li>
            </ul>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<br />

{% endblock %}
