{% extends "HBHyperbricoBundle::layoutCatalogueAdmin.html.twig" %}
 
{% block titre %}
  {{ parent() }} - Supprimer "{{ catalogue.titre }}" 
{% endblock %}

{% block chemin %}

 {{ parent() }} <li class="active">Supprimer</li>

{% endblock %}

{% block contenu %}
	<h2>Supprimer un{{ type == 'catalogue' ? '' : 'e' }} {{ type }}</h2>
 
	<p>
		Etes-vous certain de vouloir supprimer l{{ type == 'catalogue' ? 'e' : 'a' }} {{ type }} "{{ catalogue.titre }}" ?
	</p>

	<form action="{{ path('hb_hyperbrico_supprimer' ~ type|capitalize, {'id': catalogue.id}) }}" method="post">
	<button type="submit" class="btn btn-hyperbrico">Supprimer</button>
	{{ form_rest(form) }}
	</form>
{% endblock %}